.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
}

.form h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form input {
  width: 80%; 
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.form input[type="submit"] {
  background-color: #007BFF; 
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
  background-color: #0056b3; /* Tmavší odstín modré při najetí myši */
}

/* Další styly pro ikonku a pozadí formuláře */
.form-icon {
  background-color: #ddd; /* Šedé pozadí ikonky */
  border-radius: 50%; /* Kruhový tvar */
  padding: 10px;
  margin-bottom: 20px; /* Odstup od nadpisu */
}
